In [1]:
import numpy as np 
import pandas as pd

In [2]:
jobdescription = pd.read_excel('V3.0 Project OA Data_excel_Testingdata.xlsx',index=True)

jobdescription.head(3)

,Unnamed: 0,S.No,Job Class,Job Title,Min_Salary_USD,Max_Salary_USD,Average Salary_USD,Range_salary_USD,Job Description,Rating,...,Competitors,Easy Apply,Location_City,Location_State,Headquarters_City,Headquarters_State,LAT,LON1,Clean Job Title,skillsset
0,0,12382,Data Analyst,Architect Data Analysis of Research Domain,52925,93000,72962.5,40075,Th candidate should be able to perform the fo...,3.5,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,ARCHITECT DATA ANALYSIS OF RESEARCH DOMAIN,NaN
1,1,12389,Data Scientist,Assistant Manager - Data Scientist,48000,85000,66500.0,37000,The candidate should be having the below menti...,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ASSISTANT MANAGER DATA SCIENTIST,NaN
2,2,12390,Data Scientist,Lead Data Scientist,58000,103000,80500.0,45000,The candidates role would be:\nTo primarily l...,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LEAD DATA SCIENTIST,NaN

In [3]:
jobdescription['Clean Job Description']= jobdescription['Job Description'].replace('[^A-Za-z0-9]+', ' ',regex=True)

jobdescription.head(3)

,Unnamed: 0,S.No,Job Class,Job Title,Min_Salary_USD,Max_Salary_USD,Average Salary_USD,Range_salary_USD,Job Description,Rating,...,Easy Apply,Location_City,Location_State,Headquarters_City,Headquarters_State,LAT,LON1,Clean Job Title,skillsset,Clean Job Description
0,0,12382,Data Analyst,Architect Data Analysis of Research Domain,52925,93000,72962.5,40075,Th candidate should be able to perform the fo...,3.5,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,ARCHITECT DATA ANALYSIS OF RESEARCH DOMAIN,NaN,Th candidate should be able to perform the fol...
1,1,12389,Data Scientist,Assistant Manager - Data Scientist,48000,85000,66500.0,37000,The candidate should be having the below menti...,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ASSISTANT MANAGER DATA SCIENTIST,NaN,The candidate should be having the below menti...
2,2,12390,Data Scientist,Lead Data Scientist,58000,103000,80500.0,45000,The candidates role would be:\nTo primarily l...,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LEAD DATA SCIENTIST,NaN,The candidates role would be To primarily lead...

In [4]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\rupal\anaconda3\lib\site-packages (3.5)
Requirement already satisfied: tqdm in c:\users\rupal\anaconda3\lib\site-packages (from nltk) (4.47.0)
Requirement already satisfied: joblib in c:\users\rupal\anaconda3\lib\site-packages (from nltk) (0.16.0)
Requirement already satisfied: click in c:\users\rupal\anaconda3\lib\site-packages (from nltk) (7.1.2)
Requirement already satisfied: regex in c:\users\rupal\anaconda3\lib\site-packages (from nltk) (2020.6.8)

In [5]:
import string
import nltk
from nltk import word_tokenize, FreqDist
from nltk.corpus import stopwords

In [6]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [7]:
newstopwords=stopwords.words("English") + ['play','will','within','one','use','make','way','across','need','care','help','high','must','area','state','people','member','may','well','using','etc','make','year','office',
                                           'us','change','part','access','time','able','issue','task','duties','day','field','meet','hand','first','ensure','best','sexual','gender','global','world','race','regard','client',
                                           'http','re','ad','self','highly','key','source','make','come','full','result','inc','build','end','color','years','work','role','family','date','team','equal','com',
                                           'u','law','www','com','please','life','also','level','new','non','system','service','sex','age','email','job','pay','duty','take','ha','a','b','d','e','f','g','strong',
                                          'status','offer','good','term','matter','open','get','person','ideal','place','title','go','inc','see','hour','tx','ca','skill','strong','month','pay',
                                          'degree','design','tool','build','client','drive','large','create','plan','user','lead','value','apply','review','learn','fast','assist','detail','manage','impact','type',
                                           'make','origin','make','policy','need','join','goal','expert','group','hire','need','method','action','focus','basis','cross','make','based','degree','skill','year','origin','austin',
                                           'need','pace','basic','right','wide','others','multi','pay','want','use','long','give','small','hire']

In [8]:
WNlemma = nltk.WordNetLemmatizer()


def pre_process(text): 
    tokens = nltk.word_tokenize(text)
    tokens=[t.lower() for t in tokens]
    tokens=[t for t in tokens if t not in string.punctuation]
    tokens=[ t for t in tokens if not t.isnumeric()]
    tokens=[WNlemma.lemmatize(t) for t in tokens]
    tokens=[word for word in tokens if word not in newstopwords]
    text_after_process=' '.join(tokens)
    return(text_after_process)

#Apply the function on each document
jobdescription['Clean Job Description'] = jobdescription['Clean Job Description'].apply(pre_process)

In [9]:
jobdescription['Clean Job Description'][:10]

0    th candidate perform following handling analyt...
1    candidate mentioned skillset experienced machi...
2    candidate would primarily agile research scien...
Name: Clean Job Description, dtype: object

In [10]:
length=jobdescription['Clean Job Description'].apply(len)
length[:100]

0    549
1    271
2    474
Name: Clean Job Description, dtype: int64

In [11]:
jobdescription['Clean Job Description']=jobdescription['Clean Job Description'].replace(['pl sql','masters','git github','github','microsoft word','ms word','powerpoint','power point','data governance','statistics','mathematics','computer science','data analyst','big data','modelling','microsoft office','ms office','java script','javascript','deep learning','tableau','engineering','datasets','data sets','dataset','data set','dashboards','dashboard','databases','data base',' sa ','regression','clustering','artificial intelligence',' ms ','mongodb','tensorflow','rapidminer','rainstor','elasticsearch','elastic search','airflow','kubernetes','tensor flow','air flow','power bi','scrum master','sisense','data studio','grafana','mapreduce','couchbase','blockchain','spotfire','chartio','metabase','cassandra','periscope data','dynamodb','firebase','big query',' teradata ','ad hoc','machine learning',' natural language processing ','decision tree','neural network','graduate','undergraduate','bachelor','analtyical','analytics','analysis','classification','business analyst','business intelligence'],['PLSQL','master','GIT','GIT','msword','msword','PPT','PPT','DAG','stats','math','cse','anali','bdata','model','mso','mso','jas','jas','deepl','tabl','engg','dset','dset','dset','dset','dashb','dashb','db','db',' sas ','resn','cstg','ai','master','mgd','tefw','rpdm','rst','elsch','elsch','afw','kbnts','tefw','afw','bi','scr','sss','dtd','gfn','mrc','ccb','bcn','spfr','chto','mtbse','ssdr','prsc','dymd','fibs','bqry',' tdata ','adhoc','maclrg',' nlp ','dctre','nurnet','grad','undergrad','bach','ana','anacs','anasis','clas','busst','busnc'],regex=True)

In [12]:
length1=jobdescription['Clean Job Description'].apply(len)
length1[:100]

0    518
1    245
2    454
Name: Clean Job Description, dtype: int64

In [13]:
def tokenization(text):
    tokens=nltk.word_tokenize(text)
    tokens=[t for t in tokens if len(t)<7]
    tokens=set(tokens)
    tokens=' '.join(tokens)
    return(tokens)

jobdescription['Clean Job Description'] = jobdescription['Clean Job Description'].apply(tokenization)

In [14]:
jobdescription['Clean Job Description']=jobdescription['Clean Job Description'].replace(['DAG',' stats ',' math ',' cse ',' anali ',' bdata ',' model ',' mso ',' jas ',' deepl ',' tabl ',' engg ',' dset ',' dashb ',' db ',' teg ',' resn ',' cstg ',' mgd ',' tefw ',' rpdm ',' rst ',' elsch ',' afw ',' ai ',' kbnts ',' bi ',' scr ',' sss ',' dtd ',' gfn ',' mrc ',' ccb ',' bcn ',' spfr ',' chto ',' mtbse ',' ssdr ','data',' prsc ',' dymd ',' fibs ',' big ',' set ',' bqry ',' tdata ','adhoc','maclrg',' nlp ','dctre','nurnet',' grad ',' undergrad ',' bach ',' ana ',' anacs ',' anasis ',' clas ',' busst ',' busnc '],['datagovernance',' statistics ',' mathematics ',' computerscience ',' analyst ',' bigdata ',' modelling ',' msoffice ',' javascript ',' deeplearning ',' tableau ',' engineering ',' dataset ',' dashborads ',' databases ',' text mining ',' regression ',' clustering ',' mongodb ',' tensorflow ',' rapidminer ',' rainstor ',' elasticsearch ',' airflow ',' artificialintelligence ',' kubernetes ',' powerbi ',' scrum',' sisense ',' datastudio ',' grafana ',' mapreduce ',' couchbase ',' blockchain ',' spotfire ',' chartio ',' metabase ',' cassandra ','',' periscopedata',' dynamodb ',' firebase ','','',' bigquery ',' teradata ','adhoc','machine learning','natural launguage processing','decision tree','neural network',' graduate ',' undergraduate ',' bachelor ',' analytical ',' analytics ',' analysis ',' classification ',' businessanalyst',' businessintelligence '],regex=True)

In [15]:
jobdescription['Clean Job Description'][:10]

0    case deeplearning etl powerbi social net sas d...
1    image c cnn machine learning deeplearning deci...
2    machine learning text mining scale would signa...
Name: Clean Job Description, dtype: object

In [16]:
length2=jobdescription['Clean Job Description'].apply(len)
length2[:100]

0    150
1     94
2     59
Name: Clean Job Description, dtype: int64

In [17]:
jobdescription.to_excel('V3.0 Project OA Data_excel_Testingdata.xlsx')

In [18]:
def tokenizations(text):
    tokens=nltk.word_tokenize(text)
    return(tokens)

tok = jobdescription['Clean Job Description'] .apply(tokenizations)

In [19]:
skill=['web','linux','java','c','r','python','sql','plsql','oracle','excel','sap','sas','cloud','plsql','postgresql','bigdata','hedis','hadoop','spark','teradata','pig','hive','deeplearning','kafta','hbase','splunk','presto','rapidminer','knime','hunk','beam','tensorflow','mongodb','aws','machinelaerning','mysql','etl','rainstor','airflow','kubernetes','docker','plotly','knime','splunk','elasticsearch','rainstor','ppt','msword',' r ','looker','powerbi','tableau','azure','nosql','git','javascript','artificialintelligence','scrum','spss','cassandra','orange','mapreduce','couchbase','ems','blockchain','orange','spotfire','chartio','cognos','metabase','sisense','qlik','redash','grafana','datastudio','orange','mode','periscopedata','pmp','api','dynamodb','oltp','olap','firebase','redis','sap','msoffice','bigquery','teradata','machine learning','decision tree','neural network','database','adhoc','dashboard','mining','deeplearning','nlp','modelling','regression','clustering','dataanalsyt','mathematics','engineering','statistics','phd','master','businessintelligence','classification','analysis','analytical','analytics','bachelor','graduate','undergraduate','businessanalyst','master','phd','mathematics','statistics','engineering','computerscience']

In [20]:
def match(text):
    tokens=[t for t in text if(t in skill)]
    return(tokens)

jobdescription['skills']=tok.apply(match)

In [21]:
jobdescription['skills'][:50]

0    [deeplearning, etl, powerbi, sas, r, regressio...
1                     [c, deeplearning, python, linux]
2                                             [mining]
Name: skills, dtype: object

In [22]:
jobdescription.to_excel('V3.0 Project OA Data_excel_Testingdata.xlsx')