In [1]:
import numpy as np 
import pandas as pd

In [2]:
job = pd.read_excel('V3.0 Project OA Data_excel_Testingdata.xlsx')

In [3]:
job['Clean Job Title']= job['Job Title'].str.upper().replace('[^A-Z0-9]+',' ',regex=True)

In [4]:
job.head(3)

,S.No,Job Class,Job Title,Min_Salary_USD,Max_Salary_USD,Average Salary_USD,Range_salary_USD,Job Description,Rating,Rating Band,...,Competitors,Easy Apply,Location_City,Location_State,Headquarters_City,Headquarters_State,LAT,LON1,Clean Job Title,skillsset
0,12382,Data Analyst,Architect Data Analysis of Research Domain,52925,93000,72962.5,40075,Th candidate should be able to perform the fo...,3.5,Medium Rated,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,ARCHITECT DATA ANALYSIS OF RESEARCH DOMAIN,NaN
1,12389,Data Scientist,Assistant Manager - Data Scientist,48000,85000,66500.0,37000,The candidate should be having the below menti...,3.5,Medium Rated,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ASSISTANT MANAGER DATA SCIENTIST,NaN
2,12390,Data Scientist,Lead Data Scientist,58000,103000,80500.0,45000,The candidates role would be:\nTo primarily l...,4.5,High Rated,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LEAD DATA SCIENTIST,NaN

In [5]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\rupal\anaconda3\lib\site-packages (3.5)
Requirement already satisfied: regex in c:\users\rupal\anaconda3\lib\site-packages (from nltk) (2020.6.8)
Requirement already satisfied: click in c:\users\rupal\anaconda3\lib\site-packages (from nltk) (7.1.2)
Requirement already satisfied: tqdm in c:\users\rupal\anaconda3\lib\site-packages (from nltk) (4.47.0)
Requirement already satisfied: joblib in c:\users\rupal\anaconda3\lib\site-packages (from nltk) (0.16.0)

In [6]:
import string
import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords

In [7]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [8]:
newstopwords=stopwords.words("English")+['TX','REMOTE','URGENT','YRS','REQUIRED','NATIONWIDE','OPPORTUNITIES','AND','ON','WITH','LEVEL','OR','HOUSTON','SAN','DIEGO','OR','ATLANTA','GA','FOR','NORTH','AMERICAN','NY','MULTIPLE','POSITIONS','ONLY','OPPORTUNITY','FUTURE','YEAR','NYC','MONTH','ROSTER','DIRECT','HIRE','MAY','RESIDE','ANYWHERE','IN','THE','US','UP','TO','TRAVEL','IS','YEARS','NEED','TEXAS','DALLAS','REQUIREMENTS','XYZ','CANADA','PHILADELPHIA','FA','PA','A']

In [9]:

def pre_process(text): 
    
    tokens = nltk.word_tokenize(text)
    tokens=[t.upper() for t in tokens]
    tokens=[ t for t in tokens if ((t.isnumeric() and len(t)==1) or ( not t.isnumeric()))]
    tokens=[word for word in tokens if word not in newstopwords]
    text_after_process=' '.join(tokens)
    return(text_after_process)

#Apply the function on each document
job['Clean Job Title'] = job['Clean Job Title'].apply(pre_process)

In [10]:
job['Clean Job Title']= job['Clean Job Title'].replace(['BUSINESS INTELLIGENCE','INFORMATION TECHNOLOGY','QUALITY ASSURANCE','USER EXPERIENCE','USER INTERFACE','DATA WAREHOUSE','DATA BASE','DATA QUALITY','DATA GOVERNANCE','DATA MANAGEMENT','SCIENTIST INDUSTRIAL','ACCENTURE INFRASTRUCTURE','0','1','2','3','4','PRINCIPAL'],
    ['BI','IT','QA','UX','UI','DATA_WAREHOUSE','DATABASE','DATA_QUALITY','DATA_GOVERNANCE','DATA_MANAGEMENT','SCIENTIST_INDUSTRIAL','ACCENTURE_INFRASTRUCTURE','I','I','II','III','IV','LEAD'],regex=True)

In [11]:
job['Clean Job Title'][0]

'ARCHITECT DATA ANALYSIS OF RESEARCH DOMAIN'

In [12]:

job['Clean Job Title']=job['Clean Job Title'].replace(['SYSTEMS','PRODUCTS','SOLUTIONS','GAMES','ANALYTICS','FINANCE','ENGINEERING','INTERN','TRAINEE','FRESHER','ENTRY','ANALYSTS','SR','JR',' III',' II',' IV','[^A-Z0-9]I[^A-Z0-9]','[^A-Z0-9]I$','^I[^A-Z0-9]','[^A-Z0-9]V[^A-Z0-9]','[^A-Z0-9]V$','^V[^A-Z0-9]'],
                                                      ['SYSTEM','PRODUCT','ANALYTIC','SOLUTION','GAME','FINANCIAL','ENGINEER','JUNIOR','JUNIOR','JUNIOR','JUNIOR','ANALYST','SENIOR','JUNIOR',' SENIOR',' SENIOR',' LEAD','JUNIOR',' JUNIOR','JUNIOR ','LEAD',' LEAD','LEAD '],regex=True)

In [13]:
job['Clean Job Title'][0]

'ARCHITECT DATA ANALYSIS OF RESEARCH DOMAIN'

In [14]:
job['Clean Job Title']= job['Clean Job Title'].replace(
    ['JUNIOR JUNIOR','JUNIORJUNIOR','SENIOR SENIOR','SENIORSENIOR'],['JUNIOR',' JUNIOR','SENIOR',' SENIOR'],regex=True)

In [15]:
job['Clean Job Title']= job['Clean Job Title'].replace(
    ['DATA ANALYST JUNIOR','DATA ANALYST SENIOR','BUSINESS ANALYST JUNIOR','BUSINESS ANALYST SENIOR','DATA ENGINEER JUNIOR','BUSINESS SYSTEM ANALYST JUNIOR','DATA SCIENTIST JUNIOR','DATA ENGINEER SENIOR','DATA ARCHITECT JUNIOR','BUSINESS SYSTEM ANALYST SENIOR','BI ANALYST JUNIOR','PROGRAM ANALYST JUNIOR','DATA SCIENTIST SENIOR','SOFTWARE ENGINEER JUNIOR','SCIENTIST JUNIOR','DATA ANALYST LEAD','BUSINESS ANALYST LEAD','DATA ENGINEER LEAD','BUSINESS SYSTEM ANALYST LEAD','DATA SCIENTIST LEAD'],
    ['JUNIOR DATA ANALYST','SENIOR DATA ANALYST','JUNIOR BUSINESS ANALYST','SENIOR BUSINESS ANALYST','JUNIOR DATA ENGINEER','JUNIOR BUSINESS SYSTEM ANALYST','JUNIOR DATA SCIENTIST','SENIOR DATA ENGINEER','JUNIOR DATA ARCHITECT','SENIOR BUSINESS SYSTEM ANALYST','JUNIOR BI ANALYST','JUNIOR PROGRAM ANALYST','SENIOR DATA SCIENTIST','JUNIOR SOFTWARE ENGINEER','JUNIOR SCIENTIST','LEAD DATA ANALYST','LEAD BUSINESS ANALYST','LEAD DATA ENGINEER','LEAD BUSINESS SYSTEM ANALYST','LEAD DATA SCIENTIST'],regex=True)

In [16]:
jobCount=job.groupby('Clean Job Title')[['Clean Job Title']].count().rename(
    columns={'Clean Job Title':'Count'}).sort_values('Count',ascending=False)

In [17]:
len(jobCount)

3

In [18]:
jobCount[0:50]

                                            Count
Clean Job Title
ARCHITECT DATA ANALYSIS OF RESEARCH DOMAIN      1
ASSISTANT MANAGER DATA SCIENTIST                1
LEAD DATA SCIENTIST                             1

In [19]:
job.to_excel('V3.0 Project OA Data_excel_Testingdata.xlsx')