In [1]:
import numpy as np 
import pandas as pd

In [2]:
job = pd.read_excel('CompiledAnalyticsData_excel.xlsx')

In [3]:
job['Clean Job Title']= job['Job Title'].str.upper().replace('[^A-Z0-9]+',' ',regex=True)

In [4]:
job.head(3)

,Unnamed: 0,Unnamed: 0.1,ID,Job Class,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,...,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,Clean Job Title,Clean Job Description,skills
0,0,0,0,Data Analyst,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY",...,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,1,DATA ANALYST CENTER ON IMMIGRATION AND JUSTICE...,taking party call record set impede real eager...,"['sql', 'aws', 'python', 'r', 'analysis']"
1,1,1,1,Data Analyst,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY",...,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1,QUALITY DATA ANALYST,train trend PLSQL topic dashborads computersci...,"['computerscience', 'master', 'analytics', 'he..."
2,2,2,2,Data Analyst,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY",...,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1,SENIOR DATA ANALYST INSIGHTS ANALYTICS TEAM CU...,dset dublin iconic dashborads master acting li...,"['master', 'sql', 'engineering', 'phd', 'table..."

In [5]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\rupal\anaconda3\lib\site-packages (3.5)
Requirement already satisfied: click in c:\users\rupal\anaconda3\lib\site-packages (from nltk) (7.1.2)
Requirement already satisfied: tqdm in c:\users\rupal\anaconda3\lib\site-packages (from nltk) (4.47.0)
Requirement already satisfied: joblib in c:\users\rupal\anaconda3\lib\site-packages (from nltk) (0.16.0)
Requirement already satisfied: regex in c:\users\rupal\anaconda3\lib\site-packages (from nltk) (2020.6.8)

In [6]:
import string
import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords

In [7]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [8]:
newstopwords=stopwords.words("English")+['TX','REMOTE','URGENT','YRS','REQUIRED','NATIONWIDE','OPPORTUNITIES','AND','ON','WITH','LEVEL','OR','HOUSTON','SAN','DIEGO','OR','ATLANTA','GA','FOR','NORTH','AMERICAN','NY','MULTIPLE','POSITIONS','ONLY','OPPORTUNITY','FUTURE','YEAR','NYC','MONTH','ROSTER','DIRECT','HIRE','MAY','RESIDE','ANYWHERE','IN','THE','US','UP','TO','TRAVEL','IS','YEARS','NEED','TEXAS','DALLAS','REQUIREMENTS','XYZ','CANADA','PHILADELPHIA','FA','PA','A']

In [9]:

def pre_process(text): 
    
    tokens = nltk.word_tokenize(text)
    tokens=[t.upper() for t in tokens]
    tokens=[ t for t in tokens if ((t.isnumeric() and len(t)==1) or ( not t.isnumeric()))]
    tokens=[word for word in tokens if word not in newstopwords]
    text_after_process=' '.join(tokens)
    return(text_after_process)

#Apply the function on each document
job['Clean Job Title'] = job['Clean Job Title'].apply(pre_process)

In [10]:
job['Clean Job Title']= job['Clean Job Title'].replace(['BUSINESS INTELLIGENCE','INFORMATION TECHNOLOGY','QUALITY ASSURANCE','USER EXPERIENCE','USER INTERFACE','DATA WAREHOUSE','DATA BASE','DATA QUALITY','DATA GOVERNANCE','DATA MANAGEMENT','SCIENTIST INDUSTRIAL','ACCENTURE INFRASTRUCTURE','0','1','2','3','4','PRINCIPAL'],
    ['BI','IT','QA','UX','UI','DATA_WAREHOUSE','DATABASE','DATA_QUALITY','DATA_GOVERNANCE','DATA_MANAGEMENT','SCIENTIST_INDUSTRIAL','ACCENTURE_INFRASTRUCTURE','I','I','II','III','IV','LEAD'],regex=True)

In [11]:
job['Clean Job Title'][0]

'DATA ANALYST CENTER IMMIGRATION JUSTICE CIJ'

In [12]:

job['Clean Job Title']=job['Clean Job Title'].replace(['SYSTEMS','PRODUCTS','SOLUTIONS','GAMES','ANALYTICS','FINANCE','ENGINEERING','INTERN','TRAINEE','FRESHER','ENTRY','ANALYSTS','SR','JR',' III',' II',' IV','[^A-Z0-9]I[^A-Z0-9]','[^A-Z0-9]I$','^I[^A-Z0-9]','[^A-Z0-9]V[^A-Z0-9]','[^A-Z0-9]V$','^V[^A-Z0-9]'],
                                                      ['SYSTEM','PRODUCT','ANALYTIC','SOLUTION','GAME','FINANCIAL','ENGINEER','JUNIOR','JUNIOR','JUNIOR','JUNIOR','ANALYST','SENIOR','JUNIOR',' SENIOR',' SENIOR',' LEAD','JUNIOR',' JUNIOR','JUNIOR ','LEAD',' LEAD','LEAD '],regex=True)

In [13]:
job['Clean Job Title'][0]

'DATA ANALYST CENTER IMMIGRATION JUSTICE CIJ'

In [14]:
job['Clean Job Title']= job['Clean Job Title'].replace(
    ['JUNIOR JUNIOR','JUNIORJUNIOR','SENIOR SENIOR','SENIORSENIOR'],['JUNIOR',' JUNIOR','SENIOR',' SENIOR'],regex=True)

In [15]:
job['Clean Job Title']= job['Clean Job Title'].replace(
    ['DATA ANALYST JUNIOR','DATA ANALYST SENIOR','BUSINESS ANALYST JUNIOR','BUSINESS ANALYST SENIOR','DATA ENGINEER JUNIOR','BUSINESS SYSTEM ANALYST JUNIOR','DATA SCIENTIST JUNIOR','DATA ENGINEER SENIOR','DATA ARCHITECT JUNIOR','BUSINESS SYSTEM ANALYST SENIOR','BI ANALYST JUNIOR','PROGRAM ANALYST JUNIOR','DATA SCIENTIST SENIOR','SOFTWARE ENGINEER JUNIOR','SCIENTIST JUNIOR','DATA ANALYST LEAD','BUSINESS ANALYST LEAD','DATA ENGINEER LEAD','BUSINESS SYSTEM ANALYST LEAD','DATA SCIENTIST LEAD'],
    ['JUNIOR DATA ANALYST','SENIOR DATA ANALYST','JUNIOR BUSINESS ANALYST','SENIOR BUSINESS ANALYST','JUNIOR DATA ENGINEER','JUNIOR BUSINESS SYSTEM ANALYST','JUNIOR DATA SCIENTIST','SENIOR DATA ENGINEER','JUNIOR DATA ARCHITECT','SENIOR BUSINESS SYSTEM ANALYST','JUNIOR BI ANALYST','JUNIOR PROGRAM ANALYST','SENIOR DATA SCIENTIST','JUNIOR SOFTWARE ENGINEER','JUNIOR SCIENTIST','LEAD DATA ANALYST','LEAD BUSINESS ANALYST','LEAD DATA ENGINEER','LEAD BUSINESS SYSTEM ANALYST','LEAD DATA SCIENTIST'],regex=True)

In [16]:
jobCount=job.groupby('Clean Job Title')[['Clean Job Title']].count().rename(
    columns={'Clean Job Title':'Count'}).sort_values('Count',ascending=False)

In [17]:
len(jobCount)

5031

In [18]:
jobCount[0:50]

                                     Count
Clean Job Title
DATA ANALYST                           839
DATA ENGINEER                          773
BUSINESS ANALYST                       536
DATA SCIENTIST                         308
SENIOR DATA ANALYST                    256
SENIOR DATA ENGINEER                   252
SENIOR BUSINESS ANALYST                169
BUSINESS SYSTEM ANALYST                153
SENIOR DATA SCIENTIST                  147
JUNIOR BUSINESS ANALYST                123
BIG DATA ENGINEER                      123
JUNIOR DATA ANALYST                    119
SOFTWARE ENGINEER                       99
BI ANALYST                              98
MACHINE LEARNING ENGINEER               65
BUSINESS DATA ANALYST                   64
SENIOR BUSINESS SYSTEM ANALYST          50
LEAD DATA SCIENTIST                     40
SYSTEM ANALYST                          36
TECHNICAL BUSINESS ANALYST              36
LEAD DATA ANALYST                       35
IT BUSINESS ANALYST                     31
LEAD DATA ENGINEER                      31
JUNIOR DATA ENGINEER                    30
FINANCIAL ANALYST                       28
SENIOR BIG DATA ENGINEER                27
RESEARCH SCIENTIST                      24
AZURE DATA ENGINEER                     24
PROJECT ANALYST                         23
MANAGEMENT ANALYST                      22
FINANCIAL DATA ANALYST                  21
MARKETING DATA ANALYST                  21
DATA REPORTING ANALYST                  21
LEAD BUSINESS ANALYST                   21
DATA_QUALITY ANALYST                    19
SALESFORCE BUSINESS ANALYST             19
DATA MODELER                            19
MICROSOFT DYNAMICS CRM DATA ANALYST     18
DATA_GOVERNANCE ANALYST                 18
BUSINESS ANALYSTJUNIORSENIOR            17
BUSINESS PROCESS ANALYST                17
RESEARCH DATA ANALYST                   16
SYSTEM ENGINEER                         16
FEDERAL SENIOR DATA ENGINEER            15
DATA_WAREHOUSE ENGINEER                 14
CLOUD DATA ENGINEER                     14
SENIOR SOFTWARE ENGINEER                14
PRODUCT DATA ANALYST                    14
STATISTICIAN DATA SCIENTIST             14
FEDERAL DATA SCIENTIST                  14

In [19]:
job.to_excel('CompiledAnalyticsData_excel.xlsx')